<!DOCTYPE html>
<html lang="en">
<head>
<title>1MartianWay</title>
<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/css2/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/css2/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/css2/simple-line-icons.css">
<link rel="stylesheet" type="text/css" href="../static/css2/device-mockups.min.css">
<link rel="stylesheet" type="text/css" href="../static/css2/style.css">
<link href="//fonts.googleapis.com/css?family=Lato">
<link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link href="//fonts.googleapis.com/css?family=Muli">
<style>
body{
  font-family: 'Tomorrow', sans-serif;

}
</style>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i></button>
      <a class="navbar-brand page-scroll" href="#page-top">1MWAY</a></div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:5000/login"class="page-scroll" href="#download">Download</a></li>


      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1 style="font-family: 'Tomorrow', sans-serif;">1MWAY,an AI based state of the art revolution for automating mundane tasks with Computer Vision</h1>
            <a href="http://localhost:5000/login" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a></div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen"><img src="../static/img2/demo-screen-2.jpeg" class="img-responsive" alt=""></div>
              <div class="button"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="features" class="features">
  <div class="container" style="font-family: 'Tomorrow', sans-serif;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2 style="font-family: 'Tomorrow', sans-serif;">Unlimited Features, Unlimited Fun</h2>
          <p style="font-family: 'Tomorrow', sans-serif;"class="text-muted">Check out what you can do with this app theme!</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen"><img src="../static/img2/demo-screen-2.jpeg" class="img-responsive" alt=""></div>
              <div class="button"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item"><i class="icon-screen-smartphone text-primary"></i>
                <h3 style="font-family: 'Tomorrow', sans-serif;">Device Mockups</h3>
                <p style="font-family: 'Tomorrow', sans-serif;" class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item"><i class="icon-camera text-primary"></i>
                <h3 style="font-family: 'Tomorrow', sans-serif;">Flexible Use</h3>
                <p style="font-family: 'Tomorrow', sans-serif;" class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item"><i class="icon-present text-primary"></i>
                <h3 style="font-family: 'Tomorrow', sans-serif;">Accessible</h3>
                <p style="font-family: 'Tomorrow', sans-serif;" class="text-muted">Application could be used by anyone in ACC, at any time and at any location</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item"><i class="icon-lock-open text-primary"></i>
                <h3 style="font-family: 'Tomorrow', sans-serif;">Secure</h3>
                <p style="font-family: 'Tomorrow', sans-serif;" class="text-muted">Processed Images are securely stored in database</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="overlay"></div>
</section>


<script src="../static/js2/jquery.min.js"></script>
<script src="../static/js2/bootstrap.min.js"></script>
<script src="../static/js2/jquery.easing.min.js"></script>
<script src="../static/js2/script.js"></script>
</body>
</html>
